name: Terraform Destroy

on: workflow_dispatch

jobs:
  Destroy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false

    - name: Terraform Init
      run: terraform init

    - name: Export terraform outputs
      id: tfout
      run: |
        echo "BUCKET_NAME=$(terraform output -raw bucket_name)" >> $GITHUB_OUTPUT

    - name: s3 delete files
      run: aws s3 rm s3://${{ steps.tfout.outputs.BUCKET_NAME }} --recursive
    
    - name: Terraform Destroy
      run: terraform destroy -auto-approve
